six==1.12.0
networkx==2.4
bert_score==0.3.0
torch==1.2.0+cu92
rouge==0.3.2
bert_serving_server==1.10.0
thulac==0.2.0
jieba==0.39
torchtext==0.4.0
tqdm==4.38.0
transformers==2.11.0
gensim==3.7.3
numpy==1.18.2
nltk==3.4.5
pudb==2019.2
requests==2.21.0
ipdb==0.11
elasticsearch==7.6.0
Flask==1.1.1
pymongo==3.5.1
bert_serving==0.0.1
psyco==1.6
scikit_learn==0.23.1
synonyms==3.10.2
