thulac==0.2.0
networkx==2.4
pymongo==3.11.0
scipy==1.5.2
bert_serving==0.0.1
ijson==3.1.1
rouge==1.0.0
torch==1.5.1+cu92
transformers==4.30.0
ipdb==0.13.3
requests==2.24.0
gensim==3.7.3
Flask==1.1.1
nltk==3.4.5
elasticsearch==7.6.0
numpy==1.19.1
bert_score==0.3.0
zhconv==1.4.1
torchtext==0.4.0
tqdm==4.48.2
six==1.15.0
jieba==0.42.1
apex==0.9.10dev
jsonlines==1.2.0
LAC==2.0.5
psyco==1.6
scikit_learn==0.23.2
synonyms==3.15.0
